.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.theheading{
  white-space: pre;
  font-size: 24px;
  font-family: 'Segoe UI Light','Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar-nav {
  font-size: 14px; /* Adjust size here */
  font-family: 'Roboto', sans-serif;
}

.sidebar-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #343a40;
}

.sidebar-nav .nav-link:hover {
  color: #0d6efd; /* Optional hover effect */
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* html {
  scroll-behavior: smooth;
}
.smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.smooth-content {
  will-change: transform;
} */
